
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100vw;
}

.green {
  color: greenyellow;
}
#enviar {
  margin-top: 10px;
}
.img-fluid{
  filter: brightness(50%); 
}

.carousel-item {
  height: 400px;
}
.carousel-inner, .carousel-item {
  width: 100%;
  height: 70vh;
  box-sizing: border-box;
  padding-bottom: 60px;
}
.img-fluid{
filter: brightness(50%); 
position: relative;
bottom: 80px;

}
.carousel-caption {
  width: 40%;
  margin-left: 35%;
  margin-bottom: 10%; 
  /* margin-top: 10%; */
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

}
.btn-success {
  background-color: greenyellow;
}
.mdq {
  width: 50vw;
} 


.padding10 {
  padding: 40px;
} 
footer {
  background: linear-gradient(to right, rgb(28, 54, 67) 80%, rgb(30, 83, 113));
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 100px;
}

.item {
  box-sizing: border-box;
  width: 80px;
  height: 50px;
padding-top: 25px;
}

.text-small {
  font-size: 14px;
}

/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

/* // Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { ... }

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */
@media  (min-width: 850px) and (max-width: 1500px) {
  .carousel-inner, .carousel-item {
    width: 100%;
    height: 60vh;
    box-sizing: border-box;
  }

  .carousel-caption {
  width: 50%;
margin-bottom: 10%;
  margin-right: 20%;
  padding-right: 20px;
  position: absolute;
  top: 20px;
  }
  .mdq {
    width: 100vw;
  } 
}
@media (min-width: 749px) and (max-width: 849.98px) {
  .mdq {
    width: 100vw;
  } 
  
.carousel-item {
    width: 100%;
    height: 40vh;
    box-sizing: border-box;
    text-align: justify;
  }

  .carousel-caption{
    width: 60%;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    padding-right: 120px;
  } 
  .carousel-caption h1 {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    right: 50%;
    top: 10%;
  }
  .parent {
    display: flex;
    flex-direction: row;
  }
  .carousel-caption p {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    right: 50%;
    top: 30%;
  }
  .carousel-caption .buttons {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    right: 60%;
    top: 100%;
  }
}
@media (min-width: 361px) and (max-width: 748.89px) {
  .img-fluid img{
    width: 100vh;
  }
  .mdq {
    width: 100vw;
  } 
  .carousel-inner {
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .carousel-item {
    width: 100%;
    height: 20vh;
    box-sizing: border-box;
    text-align: justify;
  }
  .carousel-caption{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    padding-right: 120px;
    height: 50%;
  } 
  .carousel-caption h1 {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    right: 50%;
    top: 10%;
    font-size: 25px;
  }
  .parent {
    display: flex;
    flex-direction: row;
  }
  .carousel-caption p {
    display: block;
    width: 90vw;
    text-align: center;
    position: absolute;
    right: 20%;
    top: 30%;
    font-size: 15px;
    padding-top: 10px;
    line-height: 15px;
  }
  .carousel-caption .buttons {
    display: flex;
    width: 100%;
    text-align: center;
    position: absolute;
    right: 45%;
    top: 160%;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
  }

  .btn, .btn-lg {
    box-sizing: border-box;
    height: 30px;
    width: 160px;
    font-size: 12px;
    text-align: center;
    padding-bottom: 22px;
    line-height: 10px;
  }
}
@media (max-width: 360px) {
  .img-fluid img{
    width: 100vh;
  }
  .mdq {
    width: 100vw;
  } 
  .carousel-inner {
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .carousel-item {
    width: 100%;
    height: 5vh;
    box-sizing: border-box;
    text-align: justify;
  }
  .carousel-caption{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 20px;
    padding-right: 120px;
    height: 50%;
  } 
  .carousel-caption h1 {
    display: block;
    width: 100%;
    text-align: center;
    position: absolute;
    right: 50%;
    top: 10%;
    font-size: 25px;
  }

  .carousel-caption p {
 display: none;
  }
  .carousel-caption .buttons {
    display: flex;
    width: 100%;
    text-align: center;
    position: absolute;
    right: 50%;
    top: 120%;
    flex-direction: row;
    flex-wrap: no-wrap;
    justify-content: space-between;
  }

  .btn, .btn-lg {
    box-sizing: border-box;
    height: 30px;
    width: 160px;
    font-size: 12px;
    text-align: center;
    padding-bottom: 28px;
    line-height: 10px;
    margin-left: 10px;
  }
}
